.h1, h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

h2, h3, h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #CCC;
}

.h2, .h3, .h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0 !important;
  border-bottom: 0 !important;
}

.center-align {
  text-align: center;
}

.right-margin-8 {
  margin-right: 8px;
}

.top-margin-16 {
  margin-top: 16px;
}

/*.no-border {
  border: 0;
}

.navbar {
  border-radius: 0;
  background-color: #5499FD;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}*/

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #5499FD;
  border-color: #5499FD;
}

@media (max-width: 768px) {
  .sidebar {
    margin-top: 8px;
  }
}
@media (min-width: 768px) {
  .sidebar {
    padding: 16px;
    margin-left: -32px;
  }
}

.menu {
  border: 1px solid #E1E1E1;
  background: white;
}

.menu > a {
  width: 100%;
  padding: 8px;
  display: block;
  border-top: 1px solid #E1E1E1;
}

.error-box {
  padding: 32px;
  border: 1px solid #E1E1E1;
  border-top: 0;
  background: white;
}

.error-box > img {
  display: inline-block;
}

.error-box > h2 {
  margin-bottom: 5px;
}
