.login-box {
  padding: 24px;
  border: 1px solid #CCC;
  background: $white;
  margin: 8px 8px 24% 8px;
}

.login-box > .title {
  margin: 10px 3px 16px 3px;
  font-size: 20px;
  font-weight: 600;
  color: $gray-900;
}

.login-box > input {
  border-radius: 0;
  height: 34px;
  &:hover {
    border: 1px solid $blue-500;
  }
}

.login-box > .btn-blue {
  background-color: #5096FF;
  font-size: 16px;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  border: 0;
  color: #FFF !important;
  &:hover {
    color: #FFF;
  }
}

.login-box > .bottom-area {
    background: #efefef;
    margin: 24px -24px -24px;
    padding: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
