<div class="wiki-box">
  <div class="pull-right">
    <div class="btn-group" role="group">
      <a class="btn btn-default">토론</a>
      <a class="btn btn-default" href=<%= url("/wikis/edit/#{to_url(@wiki.title)}") %>>편집</a>
      <a class="btn btn-default">역사</a>
    </div>
  </div>
  <h1><%= @wiki.title %></h1>
  <%= markdown(@wiki.content) %>
</div>
