<div class="wiki-box">
  <div class="pull-right">
    <div class="btn-group" role="group">
      <a class="btn btn-default">토론</a>
      <a class="btn btn-default" href="<%= url("/wikis/edit/#{to_url(@wiki.title)}") %>">편집</a>
      <a class="btn btn-default">역사</a>
    </div>
  </div>
  <h1><%= @wiki.title %></h1>
  <%= markdown(@wiki.content) %>
  <div class="bottom-area right-align">
    전체 공개로 설정되지 않은 문서의 내용을 외부에 게시 혹은 누설하지 말아주세요.<br />
    페달링 팀원, 혹은 인턴 이외의 사람이 본 문서를 이용하고 싶다면 <a href="mailto:support@pedaling.net">이곳</a>을 통해 승인을 받아야 합니다.
  </div>
</div>
