<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>페달링 위키</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/aeaa75aa7f.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class=“container”>
      <%= erb :'layouts/navbar' %>
      <div class="row">
        <div class="col-sm-9 col-xs-9">
          <%= yield %>
        </div>
        <div class="col-sm-3 col-xs-3">
        </div>
      </div>
    </div>
  </body>
</html>
